@font-face {
    font-family: anton;
    src: url('Antonio-Ligth.ttf');}


body {
    background-image: url("../img/fondo.jpg") ;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
    position: relative;
    height:100vh;
    width: 100%;
}

#divform{
        position: absolute;
        top: 25%;
        left: 55%;
        font-family: anton;
    }

#divconsulta{
    position: relative;
    top: 12em;
    font-family: anton;
}

.divinfo{
    background-color: #F6F6F6;
    opacity: 0.9;
    border-radius: 20px;
}

.pganador{
    font-size: 20px;
    color: #3D3D3D;
    text-align: left;
}

.spanform {
    width: 9em;
    border: 0.1em solid #F6F6F6;
    background-color: #DADADA;
    color: #3D3D3D;
    display: flex ;
    align-items: center;
    justify-items: center;  
    padding-left: 5px;
}



.inputform {
    width: 25em;
    height: 15px;
    border: 0.1em solid #DADADA;
    background-color: #F6F6F6;
    padding-left: 3%;
    padding-right: 3%;
    font-size: 14px;
    height: 3em;
    opacity: 0.9;
}

.inputround {
    border-top-right-radius: 20px;
}

.inputround2{
    border-bottom-right-radius: 20px;
}

button {
    position: relative;
    left: 3%;
    padding: 5px;
    font-size: 12px;
    border-radius: 20px;
    border: 0.1em solid #DADADA;
}  

button:hover {
    background-color: #DADADA;
    color: #3D3D3D;
    border: 0.1em solid black;
    cursor: pointer;
}


@media (min-width: 768px) and (max-width: 1230px) { 
    #divform{
        position: absolute;
        top: 12%;
        left: 50%;
        font-family: anton;
    }

    span{
        font-size: 10px;
    }
    .spanform {
        width: 7em;
        border: 0.1em solid #F6F6F6;
        background-color: #DADADA;
        color: #3D3D3D;
        display: flex ;
        align-items: center;
        justify-items: center;  
        padding-left: 5px;
        font-size: 11px;
    }
    
    
    
    .inputform {
        width: 15em;
        height: 12px;
        border: 0.1em solid #DADADA;
        background-color: #F6F6F6;
        padding-left: 3%;
        padding-right: 3%;
        font-size: 11px;
        height: 3em;
        opacity: 0.9;
    }    

}

@media (min-width: 0px) and (max-width: 540px){
    body {
        background-image: url("../img/fondo_mobile.jpg") ;
    }

    #divform{
        position: absolute;
        top: 40%;
        left: 1%;
        font-family: anton;
    }

    .inputform {
        width: 25em;
        height: 9px;
        border: 0.1em solid #DADADA;
        background-color: #F6F6F6;
        padding-left: 3%;
        padding-right: 3%;
        font-size: 11px;
        height: 2.5em;
        opacity: 0.9;
    }

    .spanform {
        width: 7em;
        border: 0.1em solid #F6F6F6;
        background-color: #DADADA;
        color: #3D3D3D;
        display: flex ;
        align-items: center;
        justify-items: center;  
        padding-left: 5px;
        font-size: 8px;
    }

    span{
        font-size: 9px;
    }

    button {
        position: relative;
        left: 1%;
        padding: 4px;
        font-size: 9px;
    }  

}

@media (min-width: 541px) and (max-width: 768px) { 
    #divform{
        position: absolute;
        top: 10%;
        left: 5%;
        font-family: anton;
    }

    span{
        font-size: 9px;
    }
    .spanform {
        width: 7em;
        border: 0.1em solid #F6F6F6;
        background-color: #DADADA;
        color: #3D3D3D;
        display: flex ;
        align-items: center;
        justify-items: center;  
        padding-left: 5px;
        font-size: 11px;
    }
    
    
    
    .inputform {
        width: 18em;
        height: 12px;
        border: 0.1em solid #DADADA;
        background-color: #F6F6F6;
        padding-left: 3%;
        padding-right: 3%;
        font-size: 11px;
        height: 3em;
        opacity: 0.9;
    }    

}