@font-face {
    font-family: anton;
    src: url('Antonio-Ligth.ttf');}


body {
    background-image: url("../img/fondo.jpg") ;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
    position: relative;
    height:100vh;}

#divform{
    position: absolute;
    top: 25%;
    left: 55%;
    font-family: anton;
}

.spanform {
    width: 9em;
    border: 0.1em solid #F6F6F6;
    background-color: #DADADA;
    color: #3D3D3D;
    display: flex ;
    align-items: center;
    justify-items: center;
    padding-left: 5px;
}



.inputform {
    width: 25em;
    height: 15px;
    border: 0.1em solid #DADADA;
    background-color: #F6F6F6;
    padding-left: 3%;
    padding-right: 3%;
    font-size: 14px;
    height: 3em;
    opacity: 0.8;
}

.inputround {
    border-top-right-radius: 20px;
}

.inputround2{
    border-bottom-right-radius: 20px;
}

button {
    position: relative;
    left: 10%;
    border-radius: 40px;
    font-size: 18px;
}   

