@font-face {
    font-family: anton;
    src: url('Antonio-Ligth.ttf');}


body {
    background-image: url("../img/fondoruleta.jpg") ;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
    position: relative;
    height:100vh;}

canvas {
    position: absolute;
    top: 25%;
    left: 15%;
    opacity: 0.95;
    }

.buttongirar {
    position: absolute;
    top: 10%;
    left: 27%;
    background-color: #e65051;
    }
    

.swal2-styled{
    font-size: 12px;
    padding: 2px;
    background-color: black;
    color: aliceblue;
}

@media (min-width: 981px) and (max-width: 1366px) { 
    canvas {
        position: absolute;
        top: 20%;
        left: 10%;
    }

    .buttongirar {
        position: absolute;
        top: 10%;
        left: 25%;
    }
}


@media (min-width: 541px) and (max-width: 980px) { 
    canvas {
        position: absolute;
        top: 1%;
        left: 5%;
    }

    .buttongirar {
        position: absolute;
        top: 8%;
        left: 25%;
    }
}

@media (min-width: 0px) and (max-width: 540px) {

    canvas {
        position: absolute;
        top: 3%;
        left: -10%;
    }

    .buttongirar {
        position: absolute;
        top: 8%;
        left: 35%;
    }

    body {
        background-image: url("../img/fondoruleta_mobile.jpg") ;
    }
 }




